@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Karla", sans-serif;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    outline: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:focus {
      border: 2.5px solid hsl(169, 82%, 27%);
    }
  }

  .star{
    &::after{
      content: "*";
      color: green;
      margin-left: 5px;
    }
  }

}
